<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" id="bootstrap-css">


<ul>
   <li><a href="/"><%= @current_user ? "Hello #{User.find(@current_user)[:username]}" : "Hello" %></a></li>
   <% if(@current_user) %>
      <li><a href="/dashboard">Submit a meme</a></li>
      <li style="float:right"><a class="active" href="/logout">Logout</a></li>
   <% else %>
   <li style="float:right"><a class="active" href="/signup">Signup</a></li>
      <li style="float:right"><a class="active" href="/login">Login</a></li>
   <% end %>
</ul> 
<div class="empty">
</div>
<div class="container">
   <%
      one = []
      two = []
      three = []
      four = []
      l = Meme.all.length - 1
      for i in 0..l
         if(i % 4 == 0)
            one.append(Meme.all[i])
         elsif(i % 4 == 1)
            two.append(Meme.all[i])
         elsif(i % 4 == 2)
            three.append(Meme.all[i])
         elsif(i % 4 == 3)
            four.append(Meme.all[i])
         end
      end
   %>
   <div class="d-flex flex-row flex-wrap justify-content-center">
      
         <div class="d-flex flex-column">
            <% one.each do |meme| %>
               <a href="<%= meme[:url] %>">
                  <img src="<%= meme[:url] %>" alt="meme" width="260">
               </a>
               <%= form_with(url: "/likes/#{meme.id}", method: "put", class: "flex") do %>
                  <%
                     flag = 0
                     meme.likes.each do |like|
                        if(like["user_id"].to_i == @current_user)
                           flag = 1
                        end
                     end
                  %>
                  <% if(flag == 0) %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/wired/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% else %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/dusk/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% end %>
                  <a href="/meme/<%= meme.id %>"><img class="comment-btn" src="https://img.icons8.com/dotty/80/000000/send-comment.png"/></a>
               <% end%>
               <p class="likes"><%= meme.likes.length %> likes</p>
            <% end %>
         </div>
         <div class="d-flex flex-column">
            <% two.each do |meme| %>
               <a href="<%= meme[:url] %>">
                  <img src="<%= meme[:url] %>" alt="meme" width="260">
               </a>
               <%= form_with(url: "/likes/#{meme.id}", method: "put", class: "flex") do %>
                  <%
                     flag = 0
                     meme.likes.each do |like|
                        if(like["user_id"].to_i == @current_user)
                           flag = 1
                        end
                     end
                  %>
                  <% if(flag == 0) %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/wired/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% else %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/dusk/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% end %>
                  <a href="/meme/<%= meme.id %>"><img class="comment-btn" src="https://img.icons8.com/dotty/80/000000/send-comment.png"/></a>
               <% end%>
               <p class="likes"><%= meme.likes.length %> likes</p>
            <% end %>
         </div>
         <div class="d-flex flex-column">
            <% three.each do |meme| %>
               <a href="<%= meme[:url] %>">
                  <img src="<%= meme[:url] %>" alt="meme" width="260">
               </a>
               <%= form_with(url: "/likes/#{meme.id}", method: "put", class: "flex") do %>
                  <%
                     flag = 0
                     meme.likes.each do |like|
                        if(like["user_id"].to_i == @current_user)
                           flag = 1
                        end
                     end
                  %>
                  <% if(flag == 0) %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/wired/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% else %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/dusk/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% end %>
                  <a href="/meme/<%= meme.id %>"><img class="comment-btn" src="https://img.icons8.com/dotty/80/000000/send-comment.png"/></a>
               <% end%>
               <p class="likes"><%= meme.likes.length %> likes</p>
            <% end %>
         </div>
         <div class="d-flex flex-column">
            <% four.each do |meme| %>
               <a href="<%= meme[:url] %>">
                  <img src="<%= meme[:url] %>" alt="meme" width="260">
               </a>
               <%= form_with(url: "/likes/#{meme.id}", method: "put", class: "flex") do %>
                  <%
                     flag = 0
                     meme.likes.each do |like|
                        if(like["user_id"].to_i == @current_user)
                           flag = 1
                        end
                     end
                  %>
                  <% if(flag == 0) %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/wired/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% else %>
                     <input class="like" onclick="this.form.submit()" type="image" src="https://img.icons8.com/dusk/64/000000/like.png" alt="Submit" width="48" height="48">
                  <% end %>
                  <a href="/meme/<%= meme.id %>"><img class="comment-btn" src="https://img.icons8.com/dotty/80/000000/send-comment.png"/></a>
               <% end%>
               <p class="likes"><%= meme.likes.length %> likes</p>
            <% end %>
         </div>
      
   </div>
</div>
